<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
  </head>
  <body>
    <div class="container">
      <div class="containersh">
        <div class="cardsh">
          <div class="profile-picture">
            <img
              src="https://plus.unsplash.com/premium_photo-1671987556132-313d34dfa559?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4MHx8fGVufDB8fHx8fA%3D%3D"
              alt="Profile Picture"
            />
          </div>
          <h2 class="name"><%= user.fullname %></h2>
          <h3 class="username">@<%= user.username %></h3>
          <p class="tagline">Keep going.</p>
          <p class="description">Trial Description</p>
          <a href="/logout" class="button">Log Out</a>
          <form action="./upload" method="post" enctype="multipart/form-data">
            <input
              type="text"
              name="filecaption"
              placeholder="writting something what's come in your mind"
            />
            <input type="file" name="file" />
            <input type="submit" />
          </form>
        </div>
      </div>
      <div class="container">
        <div class="cards flex">
          <% user.posts.forEach(function(post) { %>
          <div class="card" style="width: 18rem">
            <img
              src="/images/uploads/<%= post.image %>"
              class="card-img-top"
              alt="nothing"
            />
            <div class="card-body">
              <h4 class="card-title"><%= post.imagetext %></h4>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"
      ></script>
    </div>
  </body>
</html>
